* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll hidden;
}

body {
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


/* START OF THE HEADER */

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: #444;
    background-image: url("photos/andrew-neel-z55CR_d0ayg-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    width: 100%;
    max-height: 100px;
    background: linear-gradient(90deg, #000000, transparent 30%, transparent 70%, #000000);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
}

nav > img {
    width: 100px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
    flex-wrap: wrap;
}

.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.hero h1,
.hero p {
    color: #ffffff;
}

.hero h1 {
    font-family: 'Marcellus', serif;
    margin-top: 200px;
    font-size: 600px;
    opacity: 0.03;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: #ffffff;
}

.hero-text {
    /* border: 1px solid #ffffff; */
    width: 100%;
    font-size: 40px;
    margin: 0 30px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    bottom: 300px;
    flex-wrap: wrap;
}

.hero-text-1,
.hero-text-2 {
    /* border: 2px solid #ffffff; */
    display: flex;
    justify-content: center;
    gap: 350px;
}

/* END OF THE HEADER */

/* START OF THE MAIN */

/* START OF SECTIONS DESTINATIONS */

.destinations {
    /* border: 2px solid red; */
    width: 100%;
    height: auto;
    padding: 30px 0;
    background-color: #222;
    font-family: 'Caveat', cursive;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.destinations h2 {
    font-size: 100px;
}

.destinations ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.where {
    align-self: flex-start;
    margin: 0 13%;
}

.destinations img {
    border-radius: 50%;
    width: 450px;
    height: 450px;
    margin: 40px 0;
    padding: 10px;
    object-fit: cover;
}

.city {
    border: 2px solid #53524e;
}
.beach {
    border: 2px solid #097d78;
}
.desert {
    border: 2px solid #f49f00;
}
.mountain {
    border: 2px solid #b9a9b3;
}

.how {
    align-self: flex-end;
    margin: 0 17%;
}

/* END OF SECTION DESTINATIONS */

/* START OF SECTION QUOTE */

.quote {
    width: 100%;
    height: auto;
    padding: 100px 0;
    background-color: #999;
    font-size: 40px;
    font-family: 'Petit Formal Script', cursive;
    color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote h3 {
    border: 6px solid #222;
    border-radius: 20px;
    width: 50%;
    min-width: 800px;
    max-height: 800px;
    padding: 80px;
}

/* END OF SECTION QUOTE */

/* START OF SECTION DISCOVER */

.discover {
    width: 100%;
    height: 500px;
    background-color: #fefefe;
    color: #fefefe;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discover-container {
    width: 1000px;
    background-color: #445856;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.discover-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover-text h4 {
    font-size: 50px;
    font-family: 'Caveat', cursive;
    align-self: flex-start;
}

.eyes-open {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}

button {
    width: 200px;
    height: 75px;
    background-color: #222;
    color: #ffffff;
    font-size: 35px;
    margin: 20px 0;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

/* END OF SECTION DISCOVER */

/* END OF THE MAIN */

/* START OF THE FOOTER */

footer {
    width: 100%;
    height: 100px;
    background-color: #222;
    color: #fefefe;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* END OF THE FOOTER */

/* END OF THE MAIN */

/* END OF THE BODY */

/* END OF THE HTML */